<div class="card bg-dark text-white">
    <div class="card-header">{{titulo}}</div>
    <div class="card-body">
        <form>
            <div class="form-group row">
                <label for="nombre" class="col-sm-2 control-label">Nombre</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="cliente.nombre" name="nombre" placeholder="Nombre">
                </div>
            </div>

            <div class="form-group row">
                <label for="apellido" class="col-sm-2 control-label">Apellido</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="cliente.apellido" name="apellido" placeholder="Apellido">
                </div>
            </div>

            <div class="form-group row">
                <label for="email" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="cliente.email" name="email" placeholder="Email">
                </div>
            </div>
        </form>

        <div class="form-group row">
            <div class="col-sm-6">
                <button class="btn btn-primary" role="button" (click)='create()' *ngIf="!cliente.id else elseBlock ">Crear</button>

                <ng-template #elseBlock>
                    <button class="btn btn-primary" role="button" (click)='update()'>Editar</button>
                </ng-template>
            </div>
        </div>

    </div>
</div>